#carouselExampleControls {
    margin: 2rem 0 4rem 0;
}

.service-text {
    margin-bottom: 4rem;
    font-family: "Sawarabi Mincho", sans-serif;
}

.about-section + .about-section {
    margin-top: 2rem;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        object-fit: contain;
    }
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 0 2rem;

    h2 {
        text-align: center;
    }

    p {
        text-align: justify;
        line-height: 2.5rem;
    }
}

@media screen and (max-width: 1200px) {
    .text {
        justify-content: start;
        p {
            line-height: 2rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .text-image {
        display: flex;
        flex-flow: column;

        .image {
            order: 1;
        }

        .text {
            order: 2;
        }
    }

    .image-text {
        display: flex;
        flex-flow: column;
    }

    .image {
        margin-bottom: 2rem;
    }
}
